html {
  color: #3e0000;
  background-image: url("../images/brick-wall.jpg");
  background-size: cover;
  text-align: center;
}
body {
  font-family: "Verdana", sans-serif;
  text-align: center;
}

header {
  text-align: center;
  border-bottom-style: solid;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-top-style: solid;
}
form {
  display: inline-block;
  margin: auto;
  width: auto;
  text-align: center;
}
input {
  border-radius: 1em;
  text-align: center;
  padding: 1em;
  margin: 1em;
  display: block;
}

table,
tbody {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 3px 3px #3e0000;
}
td,
th {
  border: 1px solid #3e0000;
  text-align: left;
  padding: 1em;
}
th {
  background-color: rgb(255, 197, 168);
}
tr:nth-child(even) {
  background-color: rgb(243, 211, 196);
}

.contentWrapper {
  padding: 1em;
  margin: 3em;
  background-color: #f1f1f1;
  border-style: solid;
  border-radius: 2em;
  box-shadow: 5px 5px #3e0000;
}
.content {
  display: flex;
}
.center{
	 text-align: center;
}
.hugeBtnWrapper {
  display: flex;
}
.hugeBtnLeft {
  text-align: center;
  width: 100%;
}
.hugeBtnRight {
  text-align: center;
  width: 100%;
}
.hugeBtn {
  background-color: rgb(255, 197, 168);
  border-radius: 2em;
  width: 80%;
  padding: 2em;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px #3e0000;
}
.hugeBtn:hover {
  background-color: rgba(212, 113, 56, 0.931);
}
.hugeBtn:active {
  background-color: rgba(212, 113, 56, 0.931);
  box-shadow: 0 2px #3e0000;
  transform: translateY(4px);
}
.btn {
  background-color: rgb(255, 197, 168);
  border-radius: 1em;
  padding: 1em;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px #3e0000;
  text-align: center;
}

.btn:hover {
  background-color: rgba(212, 113, 56, 0.931);
}
.btn:active {
  background-color: rgba(212, 113, 56, 0.931);
  box-shadow: 0 2px #3e0000;
  transform: translateY(4px);
}
